SOAP/Q3/WEB-INF/classes/SalutService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://localhost:8080" xmlns:tns="http://localhost:8080" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="salut" type="tns:salut"/>

  <xs:element name="salutResponse" type="tns:salutResponse"/>

  <xs:complexType name="salut">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="salutResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

